* {
    box-sizing: border-box;
}

* {
    background-color: thistle;
}

#Britney

.McCabe_Advisory

#

* {
    background-color: cornflowerblue;
}


* {
    background-color:darkgoldenrod
}


* {
    background-color:paleturquoise
}

* {
    background-color:coral
}

#Britney

.McCabe_Advisory

#

* {
    background-color:aquamarine
}

* {
    background-color: pink
}


* {
    background-color:darkseagreen
}

* {
    background-color:darkturquoise
}

#Britney

.McCabe_Advisory

#

* {
    background-color:yellow
}

* {
    background-color:deeppink
}

* {
    background-color:coral
}

* {
    background-color: forestgreen;
}

#Britney

.McCabe_Advisory

#

* {
    background-color:cyan
}

* {
    background-color:blueviolet
}

* {
    background-color:aqua
}

* {
    background-color:burlywood
}

* {
    background-color: darkblue;
}

* {
    background-color:chocolate
}

* {
    background-color:darkgrey
}

*{
    background-color:antiquewhite
}

* {
    background-color:crimson
}

* {
    background-color:blue
}